<div class="home-wrapper" ng-controller="VideoController" ng-init="getChannelData()">
  <div class="side-nav">

  </div>

  <section id="content-wrapper">
    <section id="most-popular">
      <div class="most-popular__wrapper">
        <div class="most-popular__title">Most Popular</div>
        <div class="most-popular__video" ng-repeat="video in videos">
          <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank" rel="noopener noreferrer">
            <img class="video__img" ng-src={{video.snippet.thumbnails.medium.url}} alt="Video Image" />
          </a>
          <h1 class="video__title">{{video.snippet.title}}</h1>
          <h3 class="video__channel-name">{{video.snippet.channelTitle}}</h3>
          <div class="video__view-count">{{video.statistics.viewCount}} views •</div>
          <div class="video__like-count">{{video.statistics.likeCount}} likes</div>
        </div>
      </div>
    </section>

    <!-- <section id="channels">
      <img ng-src={{channel.snippet.thumbnails.medium.url}} alt="Channel Image" ng-repeat="channel in channels" />
    </section> -->
  </section>


</div>