<div class="home-wrapper" ng-controller="VideoController" ng-init="getChannelData()">
  <div class="side-nav">
    <div class="side-nav__main">
      <button class="main__home">
        <ng-include src="'../images/side-nav/home.svg'"></ng-include>
        <div class="home__title">Home</div>
      </button>

      <button class="main__trending">
        <ng-include src="'../images/side-nav/fire.svg'"></ng-include>
        <div class="trending__title">Trending</div>
      </button>

      <button class="main__subscriptions">
        <ng-include src="'../images/side-nav/subscriptions.svg'"></ng-include>
        <div class="subscriptions__title">Subscriptions</div>
      </button>



    </div>
    <div class="side-nav__library">
      <div class="library__title">Library</div>
      <ng-include src="'../images/side-nav/history.svg'"></ng-include>
      <ng-include src="'../images/side-nav/clock.svg'"></ng-include>
      <ng-include src="'../images/side-nav/like.svg'"></ng-include>
    </div>
  </div>

  <section id="content-wrapper">
    <section id="most-popular">
      <div class="most-popular__wrapper">
        <div class="most-popular__title">Most Popular</div>
        <div class="most-popular__video" ng-repeat="video in videos">
          <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank" rel="noopener noreferrer">
            <img class="video__img" ng-src={{video.snippet.thumbnails.medium.url}} alt="Video Image" />
          </a>
          <h1 class="video__title">{{video.snippet.title}}</h1>
          <h3 class="video__channel-name">{{video.snippet.channelTitle}}</h3>
          <div class="video__view-count">{{video.statistics.viewCount}} views •</div>
          <div class="video__like-count">{{video.statistics.likeCount}} likes</div>
        </div>
      </div>
    </section>

    <!-- <section id="channels">
      <img ng-src={{channel.snippet.thumbnails.medium.url}} alt="Channel Image" ng-repeat="channel in channels" />
    </section> -->
  </section>


</div>