<div ng-controller="VideoController" ng-init="getChannelData()">

  <section id="most-popular">
    <div class="most-popular__title">Most Popular</div>
    <a class="most-popular__videos" href="https://www.youtube.com/watch?v={{video.id}}" target="_blank" rel="noopener noreferrer"
      ng-repeat="video in videos">
      <img class="videos__img" ng-src={{video.snippet.thumbnails.medium.url}} alt="Video Image" />
      <h1>{{video.snippet.title}}</h1>
      <h3>{{video.snippet.channelTitle}}</h3>
      <div>{{video.statistics.viewCount}}</div>
      <div>{{video.snippet.publishedAt}}</div>
    </a>

  </section>

  <div ng-repeat="channel in channels">
    <img ng-src={{channel.snippet.thumbnails.medium.url}} alt="Channel Image" />
  </div>
</div>