<div class="video-page-wrapper" ng-controller="VideoController" ng-init="getVideoData();">
  <section id="video">
    <iframe class="video__iframe" src="{{url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    <h1 class="video__title">{{video[0].snippet.title}}</h1>
    <div class="video__details">
      <div class="details__views">{{video[0].statistics.viewCount}} views</div>
      <div class="details__interactions">
        <div class="interactions__upvote">
          <ng-include class="upvote__img" src="'../images/video/upvote.svg'"></ng-include>
          <div class="upvote__count">{{video[0].statistics.likeCount}}</div>
        </div>
        <div class="interactions__downvote">
          <ng-include class="downvote__img" src="'../images/video/downvote.svg'"></ng-include>
          <div class="downvote__count">{{video[0].statistics.dislikeCount}}</div>
        </div>
        <div class="interactions__share">
          <ng-include class="share__img" src="'../images/video/share.svg'"></ng-include>
          <div class="share__text">share</div>
        </div>
        <div class="interactions__add">
          <ng-include class="add__img" src="'../images/video/add.svg'"></ng-include>
        </div>
        <div class="interactions__more">
          <ng-include class="more__img" src="'../images/video/dots.svg'"></ng-include>
        </div>
      </div>
    </div>
    <div class="channel__details">
      <div class="details__channel-info">
        <img class="channel-info__avatar" ng-src={{channel[0].snippet.thumbnails.default.url}} alt="Avatar" />
        <div class="channel-info-wrapper">
          <div class="channel-info__name">{{channel[0].snippet.title}}</div>
          <div class="channel-info__video-publish"> Published on {{publishDate}}</div>
        </div>
      </div>
      <div class="details__channel-subscribe">
        <button class="channel-subscribe__btn">subscribe {{channel[0].statistics.subscriberCount}}</button>
      </div>
      <div class="details__channel-description">{{video[0].snippet.description}}</div>
    </div>

    <section id="video-comments">
      <div class="video-comments__details">
        <div class="details__total-comments">
          50 Comments
        </div>
        <div class="details__sort">
          <ng-include class="sort__img" src="'../images/comment/sort.svg'"></ng-include>
          <div class="sort__text">sort by</div>
        </div>
      </div>
      <div class="video-comments__add-comment">
        <img class="add-comment__avatar" src="https://yt3.ggpht.com/-IoG4KAdl9fw/AAAAAAAAAAI/AAAAAAAAAAA/DFSDrtSWR74/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
          alt="Avatar" />
        <input class="add-comment__input" type="text" placeholder="Add a public comment..." />
      </div>
      <div class="video-comments__comment" ng-repeat="comment in videoComments">
        <img class="comment__profile-avatar" ng-src={{comment.snippet.topLevelComment.snippet.authorProfileImageUrl}} alt="avatar"
        />
        <div class="comment-wrapper">
          <div class="comment__author">
            {{comment.snippet.topLevelComment.snippet.authorDisplayName}}
          </div>
          <div class="comment__text">
            {{comment.snippet.topLevelComment.snippet.textOriginal}}
          </div>
          <div class="comment__vote">
            <div class="vote__upvote">
              <ng-include class="upvote__img" src="'../images/comment/upvote.svg'"></ng-include>
              <div class="upvote__like-count">{{comment.snippet.topLevelComment.snippet.likeCount}}</div>
            </div>
            <div class="vote__downvote">
              <ng-include class="downvote__img" src="'../images/comment/downvote.svg'"></ng-include>
            </div>
            <div class="vote__reply">reply</div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section id="video-feed">
    <div class="video-feed-wrapper">
      <div class="video-feed__title">Up Next</div>
      <div class="video-feed__related-video" ng-repeat="video in relatedVideos">
        <a ng-href="/videos/{{video.id.videoId}}">
          <img class="related-video__thumbnail" ng-src={{video.snippet.thumbnails.medium.url}} alt="thumbnail" />
        </a>
        <div class="related-video__details">
          <a ng-href="/videos/{{video.id.videoId}}">
            <div class="details__video-title">{{video.snippet.title}}</div>
          </a>
          <div class="details__channel-name">{{video.snippet.channelTitle}}</div>
          <div class="details__recommended">Recommended for you</div>
        </div>
      </div>
    </div>
  </section>
</div>