.home-wrapper {
  display: flex;
}

.side-nav {
  position: fixed;
  width: 240px;
  height: 100%;
  margin-top: 56px;
  background: $lightblack;
}

section#content-wrapper {
  width: 100%;
  margin-top: 56px;
  margin-left: 240px;
}

section#most-popular {
  .most-popular__wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: calc(100vw - 240px);
    padding: 20px 40px;
  }

  .most-popular__title {
    flex: 0 0 100%;
    padding: 0 0 30px 10px;
    font-size: 16px;
    font-weight: 700;
  }

  .most-popular__video {
    width: 220px;
    margin-bottom: 25px;

    .video__img {
      width: 220px;
      font-weight: 700;
    }

    .video__title {
      width: 220px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .video__channel-name {
      color: $charcoal;
      font-size: 13px;
      font-weight: 400;
    }

    .video__view-count,
    .video__like-count {
      display: inline-block;
      color: $charcoal;
      font-size: 13px;
    }
  }
}

section#channels {
  display: flex;
}