.home-wrapper {
  display: flex;
}

.side-nav {
  position: fixed;
  width: 240px;
  height: 100%;
  margin-top: 56px;
  background: $darkblack;

  .side-nav__main {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    border-bottom: 1px solid #2E2E2E;

    .main__home,
    .main__trending,
    .main__subscriptions {
      display: flex;
      height: 40px;
      padding-left: 29px;
      color: #DDE0E3;
      background: $darkblack;
      border: 1px solid $darkblack;

      &:hover {
        background: lighten($darkblack,15%);
      }

      .home__title,
      .trending__title,
      .subscriptions__title {
        line-height: 1.9em;
        margin-left: 25px;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .side-nav__library {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    border-bottom: 1px solid #2E2E2E;

    .library__title {
      height: 33px;
      padding-left: 30px;
      color: $charcoal;
      background: $darkblack;
      font-size: 14px;
      font-weight: 700;
      text-align: left;
      text-transform: uppercase;
      border: 1px solid $darkblack;
    }

    .library__history,
    .library__watch-later,
    .library__liked-videos {
      display: flex;
      height: 40px;
      padding-left: 29px;
      color: #DDE0E3;
      background: $darkblack;
      border: 1px solid $darkblack;

      &:hover {
        background: lighten($darkblack,15%);
      }

      .history__title,
      .watch-later__title,
      .liked-videos__title {
        line-height: 1.9em;
        margin-left: 25px;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  
}

section#content-wrapper {
  width: 100%;
  margin-top: 56px;
  margin-left: 240px;
}

section#most-popular {
  .most-popular__wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: calc(100vw - 240px);
    padding: 20px 40px;
  }

  .most-popular__title {
    flex: 0 0 100%;
    padding: 0 0 25px 10px;
    font-size: 16px;
    font-weight: 700;
  }

  .most-popular__video {
    width: 220px;
    margin-bottom: 25px;

    .video__img {
      width: 220px;
      font-weight: 700;
    }

    .video__title {
      width: 220px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .video__channel-name {
      color: $charcoal;
      font-size: 13px;
      font-weight: 400;
    }

    .video__view-count,
    .video__like-count {
      display: inline-block;
      color: $charcoal;
      font-size: 13px;
    }
  }
}

section#channels {
  display: flex;
}