

section#video {
  width:70vw;
  max-width: 1280px;

  .video__iframe {
    width:70vw;
    height:40vw;
    max-width: 1280px;
    max-height: 720px;
    margin-top: 56px;
  }

  .video__title {
    font-size: 18px;
  }

  .video__details {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    color: $charcoal;
    border-bottom: 1px solid #2E2E2E;

    .details__views {
      font-size: 16px;
    }

    .details__interactions {
      display: flex;

      .interactions__upvote,
      .interactions__downvote,
      .interactions__share,
      .interactions__add,
      .interactions__more {
        display: flex;
        margin-right: 20px;
      }

      .upvote__img,
      .downvote__img,
      .share__img,
      .add__img,
      .more__img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }

      .upvote__count,
      .downvote__count {
        font-size: 13px;
      }

      .share__text {
        font-size: 13px;
        text-transform: uppercase;
      }
    }
  }

  .channel__details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
    color: $charcoal;
    border-bottom: 1px solid #2E2E2E;

    .details__channel-info {
      display: flex;

      .channel-info__avatar {
        vertical-align: middle;
        width: 48px;
        height: 48px;
        margin-right: 15px;
        border-radius: 50%;
      }

      .channel-info-wrapper {
        display: flex;
        flex-direction: column;
        line-height: 1.4;
        padding-top: 5px;
      }

      .channel-info__name {
        color: $gray;
        font-size: 14px;
        font-weight: 700;
      }

      .channel-info__video-publish {
        font-size: 13px;
      }
    }

    .details__channel-subscribe {

      .channel-subscribe__btn {
        padding: 10px 16px;
        color: $gray;
        background-color: $red;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid $red;
        outline: 0;
      }
    }

    .details__channel-description {
      flex-basis: 100%;
      margin-left: 63px;
      margin-top: 15px;
      color: $gray;
      white-space: pre-line;
    }
  }
}